<h5 style="text-align: center; margin-top: 2%;">Portfolio Noel Estudillo</h5>

<div class="gallery">
    <img src="/assets/img/ordenador1.jfif" alt="Cinque Terre" width="600" height="400">
</div>

<div class="gallery1">
    <img src="/assets/img/ordenador2.jfif" alt="Forest" width="600" height="400" style="height: 200px;">
</div>

<div class="gallery1">
    <img src="/assets/img/ordenador3.jfif" alt="Northern Lights" width="600" height="400" style="height: 200px;">
</div>

<div class="gallery2">
    <img src="/assets/img/ordenador4.jfif" alt="Mountains" width="600" height="400">
</div>

<div class="gallery3">
    <img src="/assets/img/ordenador6.jfif" alt="Northern Lights" width="600" height="400">
</div>

<div class="gallery3">
    <img src="/assets/img/ordenador5.jfif" alt="Northern Lights" width="600" height="400" style="height: 200px;">
</div>