<a [routerLink]="['/llista']"><img src="assets/img/flecha-hacia-atras.png" class="imgFlechaDetalls" /></a>

<table class="table table-striped" id="taulaDetalls">
    <tbody>
        <tr>
            <th scope="row">Asignatura</th>
            <td>{{practica.tag}}</td>
        </tr>
        <tr>
            <th scope="row">Titul</th>
            <td>{{practica.titol}}</td>
        </tr>
        <tr>
            <th scope="row">Data Entrega</th>
            <td>{{practica.dataexercici}}</td>
        </tr>
        <tr>
            <th scope="row">Contingut</th>
            <td>{{practica.contingut}}</td>
        </tr>
    </tbody>
</table>